@import "tailwindcss";

@theme {
  --color-background: #fff;
  --color-border: #bfbfbf;
  --color-primary: #000;
  --color-secondary: #1a1a1a;
  --color-heading: #5e5e5e;
  --color-body: #2b2b2b;
}

.dark {
  --color-background: #000;
  --color-border: #404040;
  --color-primary: #fff;
  --color-secondary: #e5e5e5;
  --color-heading: #a1a1a1;
  --color-body: #d4d4d4;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: black;

  user-select: none;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


img {
  pointer-events: none;
}